<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recipient.user %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @recipient.delivery_id %>
</p>

<p>
  <strong>Create:</strong>
  <%= @recipient.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @recipient.destroy %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
